<!DOCTYPE html>
<html>
	<head>
	  <title>GrowthHackingLab</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	  <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Growth Hacking Lab</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Link</a></li>
		      <li><a href="#">Link</a></li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		    	<li>
		    		<% if current_user.nil? %>
		    			<a href="/users/sign_in">Log In</a>
						<% else %>
							<a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a>
						<% end %>
					</li>
		    </ul>
		    
		  </div><!-- /.navbar-collapse -->
		</nav>
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

	</body>
</html>
